<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap5/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="{% static 'img/min-logo.png' %}" type="image/x-icon">

    <script src="{% static 'js/bootstrap5/bootstrap.bundle.min.js' %}"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Colegio Niños Felices</title>
</head>
<body>
{% include 'header.html' %}

    <div class="header-container" style="display: none">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">CNF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'muro' %}">Publicaciones</a>
                </li>

                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear publicacion' %}">Crear publicación</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">@{{ user.username | upper }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'exit' %}">Salir</a>
                  </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
                    </li>


                {% endif %}

              </ul>
            </div>
          </div>
        </nav>        
    </div>

    {% block content %}{% endblock %}
</body>
<footer class="footer mt-5 py-3" style="background-color: #fff; color: #333;">
  <div class="container">
      <!-- Sección de Redes Sociales -->
      <div class="d-flex justify-content-center mb-3">
          <a href="https://www.facebook.com" class="mx-2" target="_blank" title="Facebook">
              <i class="fab fa-facebook-square" style="font-size: 30px; color: #3b5998;"></i>
          </a>
          <a href="https://www.twitter.com" class="mx-2" target="_blank" title="Twitter">
              <i class="fab fa-twitter-square" style="font-size: 30px; color: #1DA1F2;"></i>
          </a>
          <a href="https://www.instagram.com" class="mx-2" target="_blank" title="Instagram">
              <i class="fab fa-instagram-square" style="font-size: 30px; color: #C13584;"></i>
          </a>
          <a href="https://www.linkedin.com" class="mx-2" target="_blank" title="LinkedIn">
              <i class="fab fa-linkedin" style="font-size: 30px; color: #0077b5;"></i>
          </a>
      </div>
      
      <!-- Dirección del colegio con mapa -->
      <div class="row justify-content-center">
          <div class="col-12 text-center">
              <h5 class="mb-3">Visítanos</h5>
              <p>Calle Felicinda 131, Santiago, Chile</p>
          </div>
          <div class="col-12">
              <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1359.507784849511!2d-70.64787833375733!3d-33.4696118169748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c53f77158ee1%3A0xab0607441ff4f798!2s%C3%91uble%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1733094962838!5m2!1ses!2scl"
                  width="100%"
                  height="300"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy">
              </iframe>
          </div>
          
      </div>

      <!-- Copyright -->
      <div class="text-center mt-3">
          <p class="text-muted">© 2024 Colegio Niños Felices</p>
      </div>
  </div>
</footer>
{%load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</html>