
{% load static %}

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-2 border-bottom">
    <a href="{% url 'home' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="{% static 'img/logo.png' %}" class="logo" alt="cnf-logo">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Inicio</a></li>
      
      {% if request.user.is_authenticated %}
        <li><a class="nav-link px-2 link-secondary" href="{% url 'muro' %}">Publicaciones</a></li>
        <li><a class="nav-link px-2 link-secondary" href="{% url 'crear publicacion' %}">Crear publicacion</a></li>
        <li><a class="nav-link px-2 link-secondary" href="{% url 'perfil' %}">@{{ user.username | upper }}</a></li>
      {% endif %}
    </ul>

    <div class="col-md-3 text-end">
      {% if request.user.is_authenticated %}
        <button type="button" class="btn btn-primary"><a href="{% url 'exit' %}">Salir</a></button>
      {% else %}
        <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'login' %}">Ingresar</a></button>
      {% endif %}
    </div>
  </header>
</div>