{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<section class="hero">
  <img src="{% static 'core/img/img_home.jpg' %}" alt="Imagen de estudiantes en clase" class="hero-image">
  <div class="hero-text">
      <h1>Como crear publicaciones</h1>
      <p>Conectando Profesores y Apoderados, Una Publicación a la Vez</p>
      <button class="hero-button">Aquí</button>
  </div>
</section>

<section class="about">
  <h2>Nuestra Historia</h2>
  <p>
      El Colegio "Niños Felices" fue fundado hace más de 10 años por un grupo de visionarios apasionados por la educación.
      En sus inicios, la escuela nació con el objetivo de brindar una educación de calidad a los jóvenes de la comunidad,
      promoviendo valores como la inclusión, la creatividad y el respeto.
  </p>
  <p>
      Los fundadores del colegio creían firmemente en el poder transformador de la educación y en su capacidad para empoderar a los estudiantes.
      Con ese espíritu, comenzaron con una pequeña aula en un edificio antiguo, donde un grupo de docentes comprometidos se dedicaba a inspirar y guiar a sus alumnos.
      Con el tiempo, el colegio creció en número de estudiantes y en infraestructura, convirtiéndose en un espacio donde cada niño y niña podía descubrir su potencial.
  </p>
</section>
{% endblock %}

