{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Asignaturas del curso {{ curso.CURS_NOMBRE }}</h2>
    
    {% if asignaturas %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for asignatura in asignaturas %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ asignatura.ASI_NOMBRE }}</td>
                    <td>
                        <a href="{% url 'poner_nota' asignatura.ASI_ID %}" class="btn btn-primary btn-sm">Poner Notas</a>
                    </td>
                    <td>
                        <a href="{% url 'ver_notas_asignatura' asignatura.ASI_ID %}" class="btn btn-primary">Ver Notas</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay asignaturas asociadas a este curso.</p>
    {% endif %}

    <a href="{% url 'home' %}" class="btn btn-secondary">Volver a seleccionar perfil</a>
</div>
{% endblock %}