{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}  <!-- Carga el template tag aquí -->

{% block content %}
    <div class="container mt-3">
        <h2>Listado de Notas - {{ asignatura.ASI_NOMBRE }}</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Estudiante</th>
                    {% for i in max_notas|range_filter %}  <!-- Usa el nuevo filtro -->
                        <th scope="col">Nota {{ forloop.counter }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.PEPE_PERS_ID.PERS_NOMBRECOMPLETO }}</td>
                        {% for nota in notas_por_estudiante|get_item:estudiante.PEPE_ID %}
                            <td>{{ nota.NOTA_VALOR }}</td>
                        {% empty %}
                            <td>No hay notas</td>
                        {% endfor %}
                        {% if notas_por_estudiante|get_item:estudiante.PEPE_ID|length < max_notas %}
                            {% for j in max_notas|range_filter|length|get_item:estudiante.PEPE_ID|length %}
                                <td></td>  <!-- Celdas vacías para notas que no existen -->
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}