{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h2>Notas de la Asignatura: {{ asignatura.ASI_NOMBRE }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Estudiante</th>
                <th>Nota</th>
                <th>Fecha</th>

            </tr>
        </thead>
        <tbody>
            {% for nota in notas %}
            <tr>
                <td>{{ nota.NOTA_PEPE_ID.PEPE_PERS_ID.PERS_NOMBRECOMPLETO }}</td>
                <td>{{ nota.NOTA_VALOR }}</td>
                <td>{{ nota.NOTA_FECHACREACION }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay notas disponibles para esta asignatura.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'lista_notas' %}" class="btn btn-secondary">Volver a la lista de notas</a>
</div>
{% endblock %}