{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}  <!-- Carga el template tag aquí -->

{% block content %}
    <div class="container mt-3">
        <h2>Listado de Notas - {{ asignatura.ASI_NOMBRE }}</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Estudiante</th>
                    {% for i in max_notas|range_filter %}
                        <th>Nota {{ forloop.counter }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.PEPE_PERS_ID.PERS_NOMBRECOMPLETO }}</td>

                        {% for nota in notas_por_estudiante|get_item:estudiante.PEPE_ID %}
                            <td>
                                {{ nota.NOTA_VALOR }}
                                <!-- Botón para editar la nota -->
                                <a href="{% url 'editar_nota' nota.NOTA_ID %}" class="btn btn-sm btn-warning">
                                    Editar
                                </a>
                            </td>
                        {% endfor %}

                        {% for i in celdas_vacias_por_estudiante|get_item:estudiante.PEPE_ID|range_filter %}
                            <td></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}